<div class="post-metadata">
    <div id="description">{{ page.description }}</div>

    <div class="data-item">
        <div class="header">created: </div>
        <div class="value">{{ page.date | date: "%B %-d, %Y" }}</div>
    </div>

    {% if page.was_updated %}
    <div class="data-item">
        <div class="header">updated: </div>
        <div class="value">{{ page.update_date | date: "%B %-d, %Y" }}</div>
    </div>
    {% endif %}

    <div class="data-item">
        <div class="header">status: </div>
        <div class="value">{{ page.status }}</div>
    </div>

    <div class="data-list">
        <div class="header">tags: </div>
        <ul>
        {% assign i = 1 %}
        {% for tag in page.tags %}
            <li>
                <a href="">
                    {% assign tag_num = page.tags | size %}
                    {{ tag }}{% if i != tag_num %},{% endif %}
                </a>
            </li>

            {% assign i = i | plus: 1 %}
        {% endfor %}
        </ul>
    </div>

</div>