<div class="sidebar-wrapper">
    <div class="sidebar-title">Stephen Czekalski</div>
    <hr>
    <ul class="sidebar-navigation">
        {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}" {% if page.url == item.link %} style="font-weight:700; color: #000;" {% endif %}>
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
    <hr>
    <div class="sidebar-last-updated">
        Built: {{ site.time | date: "%m/%-d/%Y"}}
    </div>
    <hr>
</div>