<div class="sidebar-wrapper">

    <div class="sidebar-title">Stephen Czekalski</div>
    
    <ul class="sidebar-navigation">
        {% for item in site.data.navigation %}
        <li id="{{ item.name | downcase}}">
            <a href="{{ item.link }}" {% if page.url == item.link %} id="current" {% endif %}>
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    
    <div class="sidebar-last-updated">
        Built: {{ site.time | date: "%m/%-d/%Y"}}
    </div>

</div>