.category-wrapper
{
    padding-bottom: 30px;
}

.category-wrapper > h1
{
    font-size: $h1-size;
    font-weight: 700;
    text-align: center;
    
    padding-bottom:30px;
}

.category-wrapper > ul
{
    list-style: none;
    font-size: 1.8em;
    text-align: center;
}

.category-wrapper > ul li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.primary-category-wrapper
{
    text-align: left;
    margin-top: 30px;
}

.primary-category-wrapper > .category-header
{
    font-weight: 700;
    font-size: 2em;
}

.primary-category-wrapper >  ul.category-list
{
    font-size: 1.6em;
}

.primary-category-wrapper > ul.category-list li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 799px) 
{
    .primary-category-wrapper >  .category-header
    {
        margin-top: 40px;

    }
}