/*******************************************************************/
/* MISC                                                            */
/*******************************************************************/
/* A collection of styles that didn't really belong anywhere else. */
/*******************************************************************/

.more-footer
{
    font-size: 2.5em;
    text-align: center; 
    padding-bottom: 100px;  
    padding-top: 60px; 
}