/*******************************************************************/
/* MISC                                                            */
/*******************************************************************/
/* A collection of styles that didn't really belong anywhere else. */
/*******************************************************************/

.more-footer
{
    font-size: 2.5em;
    text-align: center; 
    padding-bottom: 100px;  
    padding-top: 60px; 
}

.welcome-wrapper { }

@media (max-width: 799px) 
{
    .welcome-wrapper
    {
        padding-top: 40px;
    }
}

.welcome-wrapper > .welcome-header 
{
    font-size: $h1-size;
    font-weight: 700;
    padding-top: 20px;
}

.welcome-wrapper > p
{
    font-size: 1.6em;
    padding-bottom: 10px;
}

.welcome-wrapper > p.latest-post
{
    font-weight: 700;
    font-size: 1.8em;

    padding-top: 20px;
    padding-bottom: 20px;
}

.category-col
{
    padding-top: 10px;
    padding-bottom: 30px;
}

.category-col > .category-header
{
    font-size: 3em;
    font-weight: 700;
}

.category-col > ul.category-list
{
    list-style: none;
    font-size: 1.8em;
    padding-left: 10px;
}

.category-col > ul.category-list li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

