/*******************************************************************/
/* POST STRUCTURE                                                  */
/*******************************************************************/
.post-wrapper { }

.post-wrapper > .post-metadata
{
    font-size: 1.4em;
    padding-bottom: 20px;
    padding-right: 20px;
}

.post-wrapper > .post-metadata > #description
{
    display: block;
    font-style: italic;
    
    padding-bottom: 20px;
}

.post-wrapper > .post-metadata > .data-item
{
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.post-wrapper > .post-metadata > .data-item > .header
{
    display: inline-block;
    font-weight: 700;
}

.post-wrapper > .post-metadata > .data-item > .value
{
    display: inline-block;
    font-style: italic;
}

.post-wrapper > .post-title
{
    font-size: 4em;
    font-weight: 700;

    margin-bottom: 10px;
}

.post-wrapper > .post-title a:active,
.post-wrapper > .post-title a:visited,
.post-wrapper > .post-title a:link,
.post-wrapper > .post-title a:hover
{
    color: #000;
}

@media (max-width: 799px) 
{
    .post-wrapper
    {
        padding-top: 40px;
    }
}

/*******************************************************************/
/* POST STYLES                                                     */
/*******************************************************************/
.post-wrapper > .post-body a:active,
.post-wrapper > .post-body a:visited,
.post-wrapper > .post-body a:link
{
    color: $link-color;
    text-decoration: underline;
}

.post-wrapper > .post-body a:hover
{
    color: $hover-color;
}

.post-wrapper > .post-body > p
{
    padding-bottom: 20px;
}

.post-wrapper > .post-body > p > em{ font-style: italic; }
.post-wrapper > .post-body > p > strong{ font-weight: 700; }
.post-wrapper > .post-body > p > em > strong{ font-weight: 700; }

.post-wrapper > .post-body > p > sub, 
.post-wrapper > .post-body > p > sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
}

.post-wrapper > .post-body > p > sup
{
    top: -0.5em;
}

.post-wrapper > .post-body > p > sub
{
    bottom: -0.25em;
}

.post-wrapper > .post-body > hr
{
    border-top: 1px dotted $faded-color;
}

.post-wrapper > .post-body > blockquote
{
    border-left: 5px solid $meta-color;

    margin-top: 10px;
    margin-bottom: 30px;
    
    padding-left: 40px;
}

.post-wrapper > .post-body > blockquote > p
{
    font-style: italic;
}

.post-wrapper > .post-body > blockquote cite::before
{
    content: "-- ";
}

.post-wrapper > .post-body > blockquote cite
{
   font-style: normal;
   padding-left: 30px;
}

.post-wrapper > .post-body > ol
{
    font-size: 1.6em;
    list-style: decimal;

    margin-bottom: 20px;
    padding-left: 40px;
}

.post-wrapper > .post-body > ol li
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-wrapper > .post-body > ul
{
    font-size: 1.6em;
    list-style: disc;

    margin-bottom: 20px;
    padding-left: 40px;
}

.post-wrapper > .post-body > ul li
{
    line-height: $line-height;

    padding-top: 10px;
    padding-bottom: 10px;
}

.post-wrapper > .post-body > dl
{
    font-size: 1.6em;
    margin-bottom: 20px;
    padding-left: 40px;
}

.post-wrapper > .post-body > dl dt
{
    font-weight: 700;

    padding-top: 10px;
    padding-bottom: 10px;
}

.post-wrapper > .post-body > dl dt::after
{
    content: ":";
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-wrapper > .post-body > dl dd
{
    font-style: italic;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.post-wrapper > .post-body > table 
{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.6em;
}

.post-wrapper > .post-body > table td, 
.post-wrapper > .post-body > table th 
{
    border: 1px solid #000;
    padding: 10px;
}

.post-wrapper > .post-body > table thead th 
{
    color: $font-color;
    background-color: #efefef;
    font-weight: 700;
}


.post-wrapper > .post-body > table tfoot 
{
    font-size: 14px;
    font-weight: bold;
    color: $font-color;
    background: #cacaca;
}

.post-wrapper > .post-body > p > sup
{
    padding-left: 1px;
}

.post-wrapper > .post-body > p > sup > a:active,
.post-wrapper > .post-body > p > sup > a:visited,
.post-wrapper > .post-body > p > sup > a:link,
.post-wrapper > .post-body > p > sup > a:hover
{
    font-weight: 700;
}


.post-wrapper > .post-body > p > sup > a.footnote::before { content: "["; }
.post-wrapper > .post-body > p > sup > a.footnote::after { content: "]"; }


.post-wrapper > .post-body > .footnotes
{
    border-top: 1px dotted $faded-color;
    border-bottom: 1px dotted $faded-color;
    font-size: 0.8em;
    padding-top: 15px;
    padding-bottom: 15px;

}

.post-wrapper > .post-body > .footnotes ol
{
    list-style: none;
    counter-reset: footnote-counter;
}

.post-wrapper > .post-body > .footnotes ol li
{
    padding-bottom: 5px;
    counter-increment: footnote-counter;
}

.post-wrapper > .post-body > .footnotes ol li p::before
{
    content: "[" counter(footnote-counter) "]";
    font-weight: bold;
    padding-right: 5px;
}
