/*******************************************************************/
/* POST STYLES                                                     */
/*******************************************************************/


//POST WRAPPER *******************************************************************/
.post-wrapper 
{
    padding-bottom: 60px;
}

@media (max-width: 799px) 
{
    .post-wrapper
    {
        padding-top: 60px;
    }

    .welcome-message
    {
        padding-top: 0px;
    }
}



//POST TITLE STYLES *******************************************************************/
.post-wrapper > .post-title
{
    font-size: $h1_size;
    font-weight: 700;
    text-align: center;
    
    margin-bottom: 15px;
}

.post-wrapper > .post-title a:active,
.post-wrapper > .post-title a:visited,
.post-wrapper > .post-title a:link,
.post-wrapper > .post-title a:hover
{
    color: #000;
}



//POST METADATA STYLES *******************************************************************/
.post-wrapper > .post-metadata
{
    font-size: 1.4em;
    text-align: center;

    padding-bottom: 30px;
}

.post-wrapper > .post-metadata > #description
{
    display: block;
    font-style: italic;
    line-height: $line-height;
    padding-bottom: 20px;
}

.post-wrapper > .post-metadata > .data-item
{
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 15px;
}

.post-wrapper > .post-metadata > .data-item > .header
{
    display: inline-block;
    font-weight: 700;
}

.post-wrapper > .post-metadata > .data-item > .value
{
    display: inline-block;
    font-style: italic;
}

.post-wrapper > .post-metadata > .data-item ul
{
    display: inline-block;
}

.post-wrapper > .post-metadata > .data-item ul li
{
    display: inline-block;
    padding-right: 3px;
}



//LINK STYLES *******************************************************************/
.post-wrapper > .post-body a:active,
.post-wrapper > .post-body a:visited,
.post-wrapper > .post-body a:link
{
    color: $link-color;
    text-decoration: underline;
}

.post-wrapper > .post-body a:hover
{
    color: $hover-color;
}



//HEADER STYLES *******************************************************************/
.post-wrapper > .post-body > h1,
.post-wrapper > .post-body > h2
{
    border-bottom: 1px dotted #000;
}

.post-wrapper > .post-body > h1,
.post-wrapper > .post-body > h2,
.post-wrapper > .post-body > h3,
.post-wrapper > .post-body > h4,
.post-wrapper > .post-body > h5,
.post-wrapper > .post-body > h6
{
    margin-bottom: 5px;
}

.post-wrapper > .post-body > h1,
.post-wrapper > .post-body > h2
{
    margin-top: 40px;
}

.post-wrapper > .post-body > h3,
.post-wrapper > .post-body > h4,
.post-wrapper > .post-body > h5,
.post-wrapper > .post-body > h6
{
    margin-top: 60px;
}

.post-wrapper > .post-body > h2 + h3
{
    margin-top: 40px;
}


//PARAGRAPH STYLES *******************************************************************/
.post-wrapper > .post-body > p
{
    margin-bottom: 20px;
}

.post-wrapper > .post-body > p > em{ font-style: italic; }
.post-wrapper > .post-body > p > strong{ font-weight: 700; }
.post-wrapper > .post-body > p > em > strong{ font-weight: 700; }



//HORIZONTAL LINE STYLE *******************************************************************/
.post-wrapper > .post-body > hr
{
    border-top: 1px dotted $faded-color;
}



//BLOCKQUOTE STYLES *******************************************************************/
.post-wrapper > .post-body > blockquote
{
    border-left: 5px solid $meta-color;

    margin-top: 10px;
    margin-bottom: 30px;
    
    padding-left: 40px;
}

.post-wrapper > .post-body > blockquote > p
{
    font-style: italic;
}

.post-wrapper > .post-body > blockquote cite::before
{
    content: "-- ";
}

.post-wrapper > .post-body > blockquote cite
{
   font-style: normal;
   padding-left: 30px;
}



//ORDERED LIST STYLES *******************************************************************/
.post-wrapper > .post-body > ol
{
    font-size: 1.6em;
    list-style: decimal;

    line-height: $line-height;

    margin-bottom: 20px;
    padding-left: 40px;
}

.post-wrapper > .post-body > ol li
{
    padding-top: 5px;
    padding-bottom: 5px;
}



//UNORDERED LIST STYLES *******************************************************************/
.post-wrapper > .post-body > ul
{
    font-size: 1.6em;
    list-style: disc;

    line-height: $line-height;

    margin-bottom: 20px;
    padding-left: 40px;
}

.post-wrapper > .post-body > ul li
{
    padding-top: 5px;
    padding-bottom: 5px;
}



//UNSTYLED LIST STYLES *******************************************************************/
.post-wrapper > .post-body > ul.unstyled
{
    font-size: 1.6em;
    list-style: none;

    line-height: $line-height;

    margin-bottom: 20px;
    padding-left: 40px;
}

.post-wrapper > .post-body > ul.unstyled li
{
    padding-top: 5px;
    padding-bottom: 5px;
}



//DEFINITIONLIST STYLES *******************************************************************/
.post-wrapper > .post-body > dl
{
    font-size: 1.6em;
    margin-bottom: 30px;
    padding-left: 40px;
}

.post-wrapper > .post-body > dl dt
{
    font-weight: 700;

    padding-top: 10px;
    padding-bottom: 10px;
}

.post-wrapper > .post-body > dl dt::after
{
    content: ":";
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-wrapper > .post-body > dl dd
{
    font-style: italic;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}



//TABLE STYLES *******************************************************************/
.post-wrapper > .post-body > table 
{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.6em;
}

.post-wrapper > .post-body > table td, 
.post-wrapper > .post-body > table th 
{
    border: 1px solid #000;
    padding: 10px;
}

.post-wrapper > .post-body > table thead th 
{
    color: $font-color;
    background-color: #efefef;
    font-weight: 700;
    text-align: left;
}


.post-wrapper > .post-body > table tfoot 
{
    font-size: 14px;
    font-weight: bold;
    color: $font-color;
    background: #cacaca;
}


.post-wrapper > .post-body > table td.smallest
{
    white-space: nowrap;
    width: 1px;
}



//SUBSCRIPT AND SUPER SCRIPT STYLES *******************************************************************/
.post-wrapper > .post-body > p > sub, 
.post-wrapper > .post-body > p > sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
}

.post-wrapper > .post-body > p > sub
{
    bottom: -0.25em;
}

.post-wrapper > .post-body > p > sup
{
    top: -0.5em;

    padding-left: 1px;
}

.post-wrapper > .post-body > p > sup > a:active,
.post-wrapper > .post-body > p > sup > a:visited,
.post-wrapper > .post-body > p > sup > a:link,
.post-wrapper > .post-body > p > sup > a:hover
{
    font-weight: 700;
}

.post-wrapper > .post-body > p > sup > a.footnote::before { content: "["; }
.post-wrapper > .post-body > p > sup > a.footnote::after { content: "]"; }



//FOOTNOTE DIV AND LIST STYLES *******************************************************************/
.post-wrapper > .post-body > .footnotes
{
    border-top: 1px dotted $faded-color;
    border-bottom: 1px dotted $faded-color;
    font-size: 0.8em;

    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.post-wrapper > .post-body > .footnotes ol
{
    list-style: none;
    counter-reset: footnote-counter;
}

.post-wrapper > .post-body > .footnotes ol li
{
    padding-bottom: 15px;
    counter-increment: footnote-counter;
}

.post-wrapper > .post-body > .footnotes ol li p::before
{
    content: "[" counter(footnote-counter) "]";
    font-weight: bold;
    padding-right: 5px;
}

.post-wrapper > .post-body > .mjx-chtml
{
    font-size: 1.6em;
}



/*******************************************************************/
/* GENERAL POST FORMATTING STYLES                                  */
/*******************************************************************/
.post-wrapper > .post-body > .padding-top-xs { padding-top: 10px; }
.post-wrapper > .post-body > .padding-top-s { padding-top: 20px; }
.post-wrapper > .post-body > .padding-top-m { padding-top: 40px; }
.post-wrapper > .post-body > .padding-top-l { padding-top: 60px; }
.post-wrapper > .post-body > .padding-top-xl { padding-top: 80px; }
.post-wrapper > .post-body > .padding-top-xxl { padding-top: 100px; }

.post-wrapper > .post-body > .padding-bottom-xs { padding-bottom: 10px; }
.post-wrapper > .post-body > .padding-bottom-s { padding-bottom: 20px; }
.post-wrapper > .post-body > .padding-bottom-m { padding-bottom: 40px; }
.post-wrapper > .post-body > .padding-bottom-l { padding-bottom: 60px; }
.post-wrapper > .post-body > .padding-bottom-xl { padding-bottom: 80px; }
.post-wrapper > .post-body > .padding-bottom-xxl { padding-bottom: 100px; }

.post-wrapper > .post-body > .margin-top-xs { margin-top: 10px; }
.post-wrapper > .post-body > .margin-top-s { margin-top: 20px; }
.post-wrapper > .post-body > .margin-top-m { margin-top: 40px; }
.post-wrapper > .post-body > .margin-top-l { margin-top: 60px; }
.post-wrapper > .post-body > .margin-top-xl { margin-top: 80px; }
.post-wrapper > .post-body > .margin-top-xxl { margin-top: 100px; }

.post-wrapper > .post-body > .margin-bottom-xs { margin-bottom: 10px; }
.post-wrapper > .post-body > .margin-bottom-s { margin-bottom: 20px; }
.post-wrapper > .post-body > .margin-bottom-m { margin-bottom: 40px; }
.post-wrapper > .post-body > .margin-bottom-l { margin-bottom: 60px; }
.post-wrapper > .post-body > .margin-bottom-xl { margin-bottom: 80px; }
.post-wrapper > .post-body > .margin-bottom-xxl { margin-bottom: 100px; }

.post-wrapper > .post-body > .margin-top-10 { margin-top: 10px; }
.post-wrapper > .post-body > .margin-top-20 { margin-top: 20px; }
.post-wrapper > .post-body > .margin-top-30 { margin-top: 30px; }
.post-wrapper > .post-body > .margin-top-40 { margin-top: 40px; }
.post-wrapper > .post-body > .margin-top-50 { margin-top: 50px; }
.post-wrapper > .post-body > .margin-top-60 { margin-top: 60px; }
.post-wrapper > .post-body > .margin-top-70 { margin-top: 70px; }
.post-wrapper > .post-body > .margin-top-80 { margin-top: 80px; }
.post-wrapper > .post-body > .margin-top-90 { margin-top: 90px; }
.post-wrapper > .post-body > .margin-top-100 { margin-top: 100px; }
.post-wrapper > .post-body > .margin-top-110 { margin-top: 110px; }
.post-wrapper > .post-body > .margin-top-120 { margin-top: 120px; }

.post-wrapper > .post-body > .margin-bottom-10 { margin-bottom: 10px; }
.post-wrapper > .post-body > .margin-bottom-20 { margin-bottom: 20px; }
.post-wrapper > .post-body > .margin-bottom-30 { margin-bottom: 30px; }
.post-wrapper > .post-body > .margin-bottom-40 { margin-bottom: 40px; }
.post-wrapper > .post-body > .margin-bottom-50 { margin-bottom: 50px; }
.post-wrapper > .post-body > .margin-bottom-60 { margin-bottom: 60px; }
.post-wrapper > .post-body > .margin-bottom-70 { margin-bottom: 70px; }
.post-wrapper > .post-body > .margin-bottom-80 { margin-bottom: 80px; }
.post-wrapper > .post-body > .margin-bottom-90 { margin-bottom: 90px; }
.post-wrapper > .post-body > .margin-bottom-100 { margin-bottom: 100px; }
.post-wrapper > .post-body > .margin-bottom-110 { margin-bottom: 110px; }
.post-wrapper > .post-body > .margin-bottom-120 { margin-bottom: 120px; }

.post-wrapper > .post-body > .padding-top-10 { padding-top: 10px; }
.post-wrapper > .post-body > .padding-top-20 { padding-top: 20px; }
.post-wrapper > .post-body > .padding-top-30 { padding-top: 30px; }
.post-wrapper > .post-body > .padding-top-40 { padding-top: 40px; }
.post-wrapper > .post-body > .padding-top-50 { padding-top: 50px; }
.post-wrapper > .post-body > .padding-top-60 { padding-top: 60px; }
.post-wrapper > .post-body > .padding-top-70 { padding-top: 70px; }
.post-wrapper > .post-body > .padding-top-80 { padding-top: 80px; }
.post-wrapper > .post-body > .padding-top-90 { padding-top: 90px; }
.post-wrapper > .post-body > .padding-top-100 { padding-top: 100px; }
.post-wrapper > .post-body > .padding-top-110 { padding-top: 110px; }
.post-wrapper > .post-body > .padding-top-120 { padding-top: 120px; }

.post-wrapper > .post-body > .padding-bottom-10 { padding-bottom: 10px; }
.post-wrapper > .post-body > .padding-bottom-20 { padding-bottom: 20px; }
.post-wrapper > .post-body > .padding-bottom-30 { padding-bottom: 30px; }
.post-wrapper > .post-body > .padding-bottom-40 { padding-bottom: 40px; }
.post-wrapper > .post-body > .padding-bottom-50 { padding-bottom: 50px; }
.post-wrapper > .post-body > .padding-bottom-60 { padding-bottom: 60px; }
.post-wrapper > .post-body > .padding-bottom-70 { padding-bottom: 70px; }
.post-wrapper > .post-body > .padding-bottom-80 { padding-bottom: 80px; }
.post-wrapper > .post-body > .padding-bottom-90 { padding-bottom: 90px; }
.post-wrapper > .post-body > .padding-bottom-100 { padding-bottom: 100px; }
.post-wrapper > .post-body > .padding-bottom-110 { padding-bottom: 110px; }
.post-wrapper > .post-body > .padding-bottom-120 { padding-bottom: 120px; }

.post-wrapper > .post-body > .text-left { text-align: left; }
.post-wrapper > .post-body > .text-center { text-align: center; }
.post-wrapper > .post-body > .text-right { text-align: right; }


.post-wrapper > .post-body > .underline-light { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.post-wrapper > .post-body > .underline-medium { border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.post-wrapper > .post-body > .underline-dark { border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
.post-wrapper > .post-body > .underline-solid { border-bottom: 1px solid #000; }
.post-wrapper > .post-body > .overline-solid { border-top: 1px solid #000; }
.post-wrapper > .post-body > .underline-dotted { border-bottom: 1px dotted #000; }
.post-wrapper > .post-body > .overline-dotted { border-top: 1px dotted #000; }

.post-wrapper > .post-body > .underline-text
{
    text-decoration: underline;
    font-style: normal;
}
