/*******************************************************************/
/* POST STRUCTURE                                                  */
/*******************************************************************/
.post-wrapper
{
    padding-bottom: 80px;
}

.post-date
{
    font-size: 1.4em;
    color: $meta-color;
    padding-bottom: 6px;
}

h1.post-title
{
    border-bottom: 1px dotted #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

h1.post-title a:active,
h1.post-title a:visited,
h1.post-title a:link,
h1.post-title a:hover
{
    color: #000;
}

.post-body 
{ 
    font-size: 10px;
}

h1.page-title
{
    padding-top: 20px;
    padding-bottom: 5px;
}


/*******************************************************************/
/* POST STYLES                                                     */
/*******************************************************************/

.post-body > h1, 
.post-body > h2, 
.post-body > h3, 
.post-body > h4, 
.post-body > h5, 
.post-body > h6 
{ 
    font-weight: 700; 
}

.post-body > h1{ font-size: 4em; }
.post-body > h2{ font-size: 3em; }
.post-body > h3{ font-size: 2em; }
.post-body > h4{ font-size: 1.6em; }
.post-body > h5{ font-size: 1.4em; }
.post-body > h6{ font-size: 1em; }

.post-body a:active,
.post-body a:visited,
.post-body a:link
{
    color: $post-link-color;
    text-decoration: none;
}

.post-body a:hover
{
    color: $font-color;
}

.post-body > p
{
    font-size: 1.6em;
    line-height: 1.8em;

    padding-bottom: 20px;
}

.post-body > p > em{ font-style: italic; }
.post-body > p > strong{ font-weight: 700; }
.post-body > p > em > strong{ font-weight: 700; }

.post-body > p > sub, 
.post-body > p > sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
}

.post-body > p > sup
{
    top: -0.5em;
}

.post-body > p > sub
{
    bottom: -0.25em;
}

.post-body > hr
{
    border-top: 1px solid $faded-color;
}

.post-body > hr.dotted
{
    border-top: 1px dotted $faded-color;
}

.post-body > blockquote
{
    border-left: 5px solid $meta-color;

    margin-top: 10px;
    margin-bottom: 30px;
    
    padding-left: 40px;
}

.post-body > blockquote > p
{
    font-style: italic;
}

.post-body > blockquote cite::before
{
    content: "-- ";
}

.post-body > blockquote cite
{
   font-style: normal;
   padding-left: 30px;
}

.post-body > ol
{
    font-size: 1.6em;
    list-style: decimal;

    margin-bottom: 20px;
    padding-left: 40px;
}

.post-body > ol li
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-body > ul
{
    font-size: 1.6em;
    list-style: disc;

    margin-bottom: 20px;
    padding-left: 40px;
}

.post-body > ul li
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-body > dl
{
    font-size: 1.6em;
    margin-bottom: 20px;
    padding-left: 40px;
}

.post-body > dl dt
{
    font-weight: 700;

    padding-top: 10px;
    padding-bottom: 10px;
}

.post-body > dl dt::after
{
    content: ":";
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-body > dl dd
{
    font-style: italic;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.post-body > table 
{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.6em;
}


.post-body > table td, 
.post-body > table th 
{
    border: 1px solid #000;
    padding: 5px 5px;
}

.post-body > table tr:nth-child(even) 
{
    background: #efefef;
}


.post-body > table thead th 
{
    color: $font-color;
    background-color: $meta-color;
    font-weight: 700;
}


.post-body > table tfoot 
{
    font-size: 14px;
    font-weight: bold;
    color: $font-color;
    background: #cacaca;
}

.post-body > p > sup
{
    padding-left: 1px;
}

.post-body > p > sup > a:active,
.post-body > p > sup > a:visited,
.post-body > p > sup > a:link,
.post-body > p > sup > a:hover
{
    font-weight: 700;
}


.post-body > p > sup > a.footnote::before { content: "["; }
.post-body > p > sup > a.footnote::after { content: "]"; }


.post-body > .footnotes
{
    border-top: 1px dotted $faded-color;
    border-bottom: 1px dotted $faded-color;
    font-size: 0.8em;
    padding-top: 15px;
    padding-bottom: 15px;

}

.post-body > .footnotes ol
{
    list-style: none;
    counter-reset: footnote-counter;
}

.post-body > .footnotes ol li
{
    padding-bottom: 5px;
    counter-increment: footnote-counter;
}

.post-body > .footnotes ol li p::before
{
    content: "[" counter(footnote-counter) "]";
    font-weight: bold;
    padding-right: 5px;
}
