/*******************************************************************/
/* SIDEBAR                                                         */
/*******************************************************************/
.sidebar-wrapper 
{ 
    padding-bottom: 20px; 
}

.sidebar-wrapper > .sidebar-title
{
    border-bottom: 1px dotted #000;

    font-weight: 700;
    font-size: 2em;
    line-height: 30px;
}

.sidebar-wrapper > ul.sidebar-navigation
{
    font-size: 1.6em;

    margin-bottom: 0px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-wrapper > ul.sidebar-navigation li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-wrapper > ul.sidebar-navigation #site  
{
    border-bottom: 1px dotted #000; 
    padding-bottom: 10px; 
}

.sidebar-wrapper > ul.sidebar-navigation #changelog
{ 
    padding-top: 15px; 
}

.sidebar-wrapper > ul.sidebar-navigation li a:active,
.sidebar-wrapper > ul.sidebar-navigation li a:visited,
.sidebar-wrapper > ul.sidebar-navigation li a:link
{
    color: $meta-color;
    text-decoration: none;
}

.sidebar-wrapper > ul.sidebar-navigation li a:hover
{
    color: $font-color;
}

.sidebar-wrapper > ul.sidebar-navigation li a#current 
{
    color: #000;
}

.sidebar-wrapper > .sidebar-last-updated
{
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;

    font-size: 1.1em;
    padding: 10px 0px 5px 0px;
}





