/*******************************************************************/
/* SIDEBAR                                                         */
/*******************************************************************/
.sidebar-wrapper { padding-bottom: 20px; }

.sidebar-wrapper > .sidebar-title
{
    font-weight: 700;
    font-size: 2em;
    line-height: 30px;
}

.sidebar-wrapper > ul.sidebar-navigation
{
    font-size: 1.6em;

    margin-bottom: 0px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-wrapper > ul.sidebar-navigation li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-wrapper > ul.sidebar-navigation li a:active,
.sidebar-wrapper > ul.sidebar-navigation li a:visited,
.sidebar-wrapper > ul.sidebar-navigation li a:link
{
    color: $meta-color;
}

.sidebar-wrapper > ul.sidebar-navigation li a:hover
{
    color: $font-color;
}


.sidebar-wrapper > .sidebar-last-updated
{
    font-size: 1.1em;
}





