/*******************************************************************/
/* SIDEBAR                                                         */
/*******************************************************************/
.sidebar-wrapper 
{ 
    margin-top: 50px;
}


@media (max-width:800px)
{
    .sidebar-wrapper 
    { 
        margin-top: 0px;
        text-align: center;
    }
}


.sidebar-wrapper > .sidebar-title
{
    font-weight: 700;
    font-size: 2em;
    line-height: 30px;
}

.sidebar-wrapper > ul.sidebar-navigation
{
    font-size: 1.6em;

    margin-bottom: 0px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-wrapper > ul.sidebar-navigation li
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-wrapper > ul.sidebar-navigation li a:active,
.sidebar-wrapper > ul.sidebar-navigation li a:visited,
.sidebar-wrapper > ul.sidebar-navigation li a:link
{
    color: $meta-color;
    text-decoration: none;
}

.sidebar-wrapper > ul.sidebar-navigation li a:hover
{
    color: $font-color;
}

.sidebar-wrapper > ul.sidebar-navigation li a#current 
{
    color: #000;
    font-weight: 700;
}
