---
---

@font-face
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face 
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$collapse-size:  850px;

$bg-color: #fff;

$font-stack: 'Roboto', sans-serif;
$font-size: 1.6em;
$line-height: 2em;

$font-color: #222222;
$meta-color: #a0a0a0;
$link-color: #8a8a8a;
$hover-color: #cacaca;
$faded-color: rgba(1, 1, 1, 0.2);

$h1-size: 4em;
$h2-size: 3em;
$h3-size: 2.5em;
$h4-size: 2em;
$h5-size: 1.8em;
$h6-size: 1.6em;

html, body
{
    color: $font-color;
    background-color: $bg-color;

    font-family: $font-stack;
    font-size: 10px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}

h1, h2 { font-weight: 700; }
h3, h4, h5, h6 {font-weight: 500; }

h1{ font-size: $h1-size; }
h2{ font-size: $h2-size; }
h3{ font-size: $h3-size; }
h4{ font-size: $h4-size; }
h5{ font-size: $h5-size; }
h6{ font-size: $h6-size; }

p
{
    font-size: $font-size;
    line-height: $line-height;
}

em { font-style: italic; }
strong { font-weight: 700; }

a:active,
a:visited,
a:link
{
    color: $link-color;
    font-weight: 500;
    text-decoration: none;
}

a:hover
{
    color: $hover-color;
}



@import "sidebar";
@import "post";

@import "misc";

@import "category";
@import "syntax";


