---
---
$collapse-size:  850px;

$bg-color: #fff;

$font-stack: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
$font-size: 1.6em;
$line-height: 2.4em;

$font-color: #000000;
$meta-color: #a0a0a0;
$link-color: #a90202;
$hover-color: #cacaca;
$faded-color: rgba(1, 1, 1, 0.2);

$h1-size: 4em;
$h2-size: 3em;
$h3-size: 2.5em;
$h4-size: 2em;
$h5-size: 1.8em;
$h6-size: 1.6em;

//THIRD-PARTY LIBRARIES
@import "reset";
@import "skeleton";

//WEBSITE CSS
@import "html";
@import "sidebar";
@import "post";
@import "misc";
@import "category";
@import "syntax";
