<!DOCTYPE html>
<html lang="en">
<head>

    {% capture page_title %} {{ page.title }} {% endcapture %}
    {% assign custom_title = page_title | append: "| Stephen Czekalski" %}
    {% assign custom_description = page.description %}
    
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ custom_title }}</title>
    
    <meta name="description" content="{{ page.description }}">
    <meta name=”robots” content=”index, follow”>
    
    <link rel=”canonical” href=”https://stephencz.com/” />

    <link rel="stylesheet" href="/assets/css/base.css">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="two columns"> {% include sidebar.html %} </div>
            <div class="ten columns"> {{ content }} </div>
        </div>
    </div>

</body>
</html>